body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  padding: 50px;
}

.Matrix {
  .cell {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    user-select: none;
  }
  .initial-hint {
    padding: 10px;
    vertical-align: center;
    height: 100%;
    line-height: 100%;
  }
  .cell,
  tr,
  td {
    height: 100%;
  }
}
